<h1 id="tableLabel">Subject</h1>

<div *ngIf="isList">
    <a href="javascript:void(0)" (click)="addNew();">Add New</a>
    <p *ngIf="!subjects"><em>Loading...</em></p>
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="subjects">
        <thead>
            <tr>
                <th>Subject's Name</th>
                <th>#</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of subjects">
                <td>{{ item.subjectName }}</td>
                <td><a href="javascript:void(0)" (click)="edit(item);">Edit</a></td>
                <td><a href="javascript:void(0)" (click)="delete(item);">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="!isList">
    <a href="javascript:void(0)" (click)="goToList();">Go To List</a><br />
    <input type="hidden" [(ngModel)]="subject.subjectId" />
    <label>Subject Name:</label> <input type="text" [(ngModel)]="subject.subjectName" />
    <button type="button" (click)="save();">{{subject.subjectId === 0 ? 'Save' : 'Update'}}</button>
</div>

